*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.calculator_body{

    width:200px ;
}
#display{
    margin:10px ;
    width: 85%;
    font-size: 30px;
    
}
.button_text{
    width: 85%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin: 10px;
    
}
.button{
    width: 45PX;
    height: px;
    border: 1px solid black;
    text-align: center;
    margin: 3px;
    
    
}